<a href="https://www.bigdatauniversity.com"><img src = "https://ibm.box.com/shared/static/n4369i3g2fkg38kendjtcbw6hzm4vel5.png" width = 100, align = "center"></a>
# <center>Lab 4b: Using Database Stored Procedures from R</center>

Welcome to this Lab on using database stored procedures from R.

<div class="alert alert-block alert-info" style="margin-top: 20px">
<h3>Tasks</h3>
<ol><ol><ol>
<li><a href="#refa">Pre-requisites</a></li>
<li><a href="#refb">Load the RODBC package</a></li>
<li><a href="#refc">Connect to your Database</a></li>
<li>Create a simple stored procedure:
<ol>
<li><a href="#refd1">Construct the stored procedure</a></li>
<li><a href="#refd2">Execute the sqlQuery statement</a></li>
</ol></li>
<li><a href="#refe">Invoke the stored procedure</a></li>
<li><a href="#reff">Pass parameters to a stored procedure</a></li>
<li><a href="#refg">Update data with a stored procedure</a></li>
</ol></ol></ol>
<br>
Estimated Time Needed: <strong>30 min</strong>
</div>

<a id="refa"></a>
<h3>a. Pre-requisites</h3>

In this lab we will use Jupyter Notebooks within CC Labs to create and invoke stored procedures from R.  Information about these services is provided in the lab setup.

<a id="refb"></a>
<h3>b. Load the RODBC package</h3>
<br>
Let's start by loading the <b>RODBC</b> package. <b>ibmdbR</b> utilizes <b>RODBC</b> to connect to interact with the database so ensure that the database is accessable using <b>RODBC</b>. Type the code and execute it (Ctrl+Enter):

<div align="left">
<a href="#tipb" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipb" class="collapse"><br>
  
```
# Fill in the ...
library(...)
```
  
</div>

<div align="left">
<a href="#solb" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solb" class="collapse"><br>
  
```
library(RODBC)
```
  
</div>

<a id="refc"></a>
<h3>c. Connect to your database</h3>
<br>
Enter the values for your database connection.

In [ ]:
#Enter the values for your database connection

<div align="left">
<a href="#tipc1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipc1" class="collapse"><br>
  
```
# Fill in the ...
dsn_...ver <- "{IBM DB2 ... Driver}"
dsn_...base <- "..."            
dsn_...name <- "YOUR.DASHDB.HOSTNAME"
dsn_port <- "..."                
dsn_protocol <- "..."            
dsn_... <- "YOURDASHDBPASSWORD"       
dsn_... <- "YOURDASHDBUSERNAME"      
```
  
</div>

<div align="left">
<a href="#solc1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solc1" class="collapse"><br>
  
```
#Enter the values for your database connection
dsn_driver <- "{IBM DB2 ODBC Driver}"
dsn_database <- "BLUDB"            # e.g. "BLUDB"
dsn_hostname <- "YOUR.DASHDB.HOSTNAME" # e.g.: "awh-yp-small03.services.dal.bluemix.net"
dsn_port <- "50000"                # e.g. "50000" 
dsn_protocol <- "TCPIP"            # i.e. "TCPIP"
dsn_uid <- "YOURDASHDBPASSWORD"    # e.g. "dash104434"
dsn_pwd <- "YOURDASHDBUSERNAME"    # e.g. "7dBZ39xN6$o0JiX!m"
```
  
</div>

Create a connection string and connect to the database.

In [ ]:
#Create a connection string and connect to the database

<div align="left">
<a href="#tipc2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipc2" class="collapse"><br>
  
```
# Fill in the ...
..._path <- paste("DRIVER=",dsn_...,
                  ";DATABASE=",dsn_...,
                  ";HOSTNAME=",dsn_...,
                  ";PORT=",dsn_...,
                  ";PROTOCOL=",dsn_...,
                  ";...=",dsn_...,
                  ";...=",dsn_...,...="")
conn <- ...Driver...(conn_...)
conn
```
  
</div>

<div align="left">
<a href="#solc2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solc2" class="collapse"><br>
  
```
#Create a connection string and connect to the database
conn_path <- paste("DRIVER=",dsn_driver,
                  ";DATABASE=",dsn_database,
                  ";HOSTNAME=",dsn_hostname,
                  ";PORT=",dsn_port,
                  ";PROTOCOL=",dsn_protocol,
                  ";UID=",dsn_uid,
                  ";PWD=",dsn_pwd,sep="")
conn <- odbcDriverConnect(conn_path)
conn
```
  
</div>

View the database and driver information.

In [ ]:
#View database and driver information

<div align="left">
<a href="#tipc3" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipc3" class="collapse"><br>
  
```
# Fill in the ...
sql.... <- sql...(conn)
conn.... <- ...Get...(...)
conn....[..._Name"]
conn....["..._Ver"]
conn....["Driver_..._Ver"]
```
  
</div>

<div align="left">
<a href="#solc3" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solc3" class="collapse"><br>
  
```
#View database and driver information
sql.info <- sqlTypeInfo(conn)
conn.info <- odbcGetInfo(conn)
conn.info["DBMS_Name"]
conn.info["DBMS_Ver"]
conn.info["Driver_ODBC_Ver"]
```
  
</div>

<a id="refd1"></a>
<h3>d.i Create a simple stored procedure</h3>
<br>
Let's create a very simple stored procedure that simply performs a select from a sample table and returns the results.
NOTE: Typically the stored procedures are created directly on the database server and invoked from client applications, however, here we are  creating it in the R notebook just for illustration.

Construct the statement for creating the stored procedure.

<div align="left">
<a href="#tipd1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipd1" class="collapse"><br>
  
```
# Fill in the ...
...1 <- "... OR ... PROCEDURE ... 
RESULT ... 1

BEGIN ... c1 ... WITH ... FOR 
SEL... * FROM SAMPLES....;

... c1;
END 
"
```
  
</div>

<div align="left">
<a href="#sold1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="sold1" class="collapse"><br>
  
```
query1 <- "CREATE OR REPLACE PROCEDURE getcows 
RESULT SETS 1

BEGIN DECLARE c1 CURSOR WITH RETURN FOR 
SELECT * FROM SAMPLES.COW;

OPEN c1;
END 
"
```
  
</div>

<a id="refd2"></a>
<h3>d.ii Execute the sqlQuery statement</h3>

Use <b>sqlQuery</b> to execute the statement for creating stored procedures

<div align="left">
<a href="#tipd2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipd2" class="collapse"><br>
  
```
# Fill in the ...
...1 <- sql...(conn,...1)
```
  
</div>

<div align="left">
<a href="#sold2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="sold2" class="collapse"><br>
  
```
df1 <- sqlQuery(conn,query1)
```
  
</div>

<a id="refe"></a>
<h3>e. Invoke the stored procedure</h3>
<br>
Now lets invoke the stored procedure and print the results

<div align="left">
<a href="#tipe1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipe1" class="collapse"><br>
  
```
# Fill in the ...
...2 <- "CALL ...()"
```
  
</div>

<div align="left">
<a href="#sole1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="sole1" class="collapse"><br>
  
```
query2 <- "CALL getcows()"
```
  
</div>

In [ ]:
#The stored procedure returns a result set which we can retrieve into a dataframe

<div align="left">
<a href="#tipe2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipe2" class="collapse"><br>
  
```
# Fill in the ...
...2 <- sql...(conn,...2)
print (..., ....names=FALSE)
```
  
</div>

<div align="left">
<a href="#sole2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="sole2" class="collapse"><br>
  
```
#The stored procedure returns a result set which we can retrieve into a dataframe
df2 <- sqlQuery(conn,query2)
print (df2, row.names=FALSE)
```
  
</div>

<a id="reff"></a>
<h3>f. Pass parameters to a stored procedure</h3>
<br>
Now let's try a stored procedure to which you can pass a parameter

<div align="left">
<a href="#tipf1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipf1" class="collapse"><br>
  
```
# Fill in the ...
...3 <- "... OR ... PROCEDURE ... (IN ... CHAR(6))
RESULT ... 1

BEGIN ... c1 ... WITH ... FOR 
SEL... * FROM ...S.... WHERE ... = C... ;

... c1;
END 
"
...3 <- sql...(conn,...3)
```
  
</div>

<div align="left">
<a href="#solf1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solf1" class="collapse"><br>
  
```
query3 <- "CREATE OR REPLACE PROCEDURE getcow (IN CCODE CHAR(6))
RESULT SETS 1

BEGIN DECLARE c1 CURSOR WITH RETURN FOR 
SELECT * FROM SAMPLES.COW WHERE COW_CODE = CCODE ;

OPEN c1;
END 
"
df3 <- sqlQuery(conn,query3)
```
  
</div>

In [ ]:
#Now invoke the procedure with cowcode of say 2

<div align="left">
<a href="#tipf2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipf2" class="collapse"><br>
  
```
# Fill in the ...
...4 <- "CALL ...(...)"
...4 <- sql...(conn,...4)
print (...4, ....names=FALSE)
```
  
</div>

<div align="left">
<a href="#solf2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solf2" class="collapse"><br>
  
```
#Now invoke the procedure with cowcode of say 2
query4 <- "CALL getcow(2)"
df4 <- sqlQuery(conn,query4)
print (df4, row.names=FALSE)
```
  
</div>

<a id="refg"></a>
<h3>g. Update data with a stored procedure</h3>
<br>
Let's now look at a stored procedure that updates some data in the database.

In [ ]:
# First create a dataframe with sample IDs, names, salaries, and bonus
#drop the salary table in case it exists
#insert the dataframe contents into a database table
#check the data that was written to database

<div align="left">
<a href="#tipg1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipg1" class="collapse"><br>
  
```
# Fill in the ...
ID <- c(as....(1),as.integer(2),as.integer(3),as.integer(4))
NAME <- c("...", "...", "...", "...")
BASE... <- c(1..., 2..., 3..., 4...)
RATING <- c(..., ..., ..., ...)
BONUS <- c(..., ..., ..., ....)
...df <- data....(ID, ..., ...SALARY, ..., BO...)

...ttab <- sql...(conn, "...")

sql...(conn, ...df, "...", ...=TRUE, ...=FALSE, ...ames=FALSE, ...names=FALSE)

...db <- sql...(conn, "...", strings...=FALSE)
...db
```
  
</div>

<div align="left">
<a href="#solg1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solg1" class="collapse"><br>
  
```
# First create a dataframe with sample IDs, names, salaries, and bonus
ID <- c(as.integer(1),as.integer(2),as.integer(3),as.integer(4))
NAME <- c("Agatha", "Polong", "Rav", "Saeed")
BASESALARY <- c(1000, 2000, 3000, 4000)
RATING <- c(4, 1, 3, 2)
BONUS <- c(0, 0, 0, 0)
salarydf <- data.frame(ID, NAME, BASESALARY, RATING, BONUS)
#drop the salary table in case it exists
dropttab <- sqlDrop(conn, "SALARY")
#insert the dataframe contents into a database table
sqlSave(conn, salarydf, "SALARY", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE)
#check the data that was written to database
salarydb <- sqlFetch(conn, "SALARY", stringsAsFactors=FALSE)
salarydb
```
  
</div>

In [ ]:
#This procedure based on an input value gives all teachers in the salary table a bonus

<div align="left">
<a href="#tipg2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipg2" class="collapse"><br>
  
```
# Fill in the ...
...5 <- "... OR ... PROCEDURE ...bonus (IN ... ...)
BEGIN  
... SALARY ... BONUS = ...SALARY * (...bonus * ...);
END
"
df5 <- sql...(conn,...5)
```
  
</div>

<div align="left">
<a href="#solg2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solg2" class="collapse"><br>
  
```
#This procedure based on an input value gives all teachers in the salary table a bonus
query5 <- "CREATE OR REPLACE PROCEDURE givebonus (IN basebonus DOUBLE)
BEGIN  
UPDATE SALARY SET BONUS = BASESALARY * (basebonus * RATING);
END
"
df5 <- sqlQuery(conn,query5)
```
  
</div>

In [ ]:
#lets invoke the procedure with a 5% basebonus

<div align="left">
<a href="#tipg3" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipg3" class="collapse"><br>
  
```
# Fill in the ...
...6 <- "CALL ...(....05)"
...6 <- sql...(conn,...6)
```
  
</div>

<div align="left">
<a href="#solg3" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solg3" class="collapse"><br>
  
```
#lets invoke the procedure with a 5% basebonus
query6 <- "CALL givebonus(0.05)"
df6 <- sqlQuery(conn,query6)
```
  
</div>

In [ ]:
#Let's see how much Bonus everyone got

<div align="left">
<a href="#tipg4" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipg4" class="collapse"><br>
  
```
# Fill in the ...
bonus.. <- sql...(conn, "...", strings...=...)
bonus..
```
  
</div>

<div align="left">
<a href="#solg4" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solg4" class="collapse"><br>
  
```
#Let's see how much Bonus everyone got
bonusdb <- sqlFetch(conn, "SALARY", stringsAsFactors=FALSE)
bonusdb
```
  
</div>

<h3>Summary</h3>

In this lab you learned how to take advantage of stored procedures in a database to perform processing on the database server.

This notebook is part of the free course on Cognitive Class called *Using R with Databases*. If you accessed this notebook outside the course, you can take this free self-paced course, online by going to: https://cognitiveclass.ai/courses/using-r-with-databases/

<hr>
<h3>Tell your friends that you're taking the Using R with Database course!</h3>

<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

<a href=https://twitter.com/intent/tweet?url=https%3A%2F%2Fgoo.gl%2Fb6kJAj&via=bigdatau&text=I%20can%20now%20program%20in%20R!%20I%20finished%20this%20R%20course%20on%20IBM%27s%20Big%20Data%20University!&hashtags=rstats%2Cdatascience&related=bigdatau>
<textarea name="textarea1" disabled="disabled" style="resize:none;border-color:#00aced;color:#808080;height:80px" cols=75>Just learnt how to use stored procs from R from #jupyter notebooks Thanks @cognitiveclass</textarea></a>
<p></p><a class="twitter-share-button" data-size=large href=https://twitter.com/intent/tweet?url=https%3A%2F%2Fgoo.gl%2Fb6kJAj&via=bigdatau&text=I%20can%20now%20program%20in%20R!%20I%20finished%20this%20R%20course%20on%20IBM%27s%20Big%20Data%20University!&hashtags=rstats%2Cdatascience&related=bigdatau></a>

<a href=https://twitter.com/intent/tweet?text=Just+learnt+how+to+use+stored+procs+from+R+from+%23jupyter+notebooks+Thanks+%40BigDataU>Tweet Now!</a>

#### Thank you for completing this lab on using stored procedures from R.
<hr>

### About the Authors:  
Hi! It's [Rav Ahuja](https://ca.linkedin.com/in/rav-ahuja-8aa4562a) and [Agatha Colangelo](https://www.linkedin.com/in/agathacolangelo), the authors of this notebook. We hope you found this lab on using stored procedures with R easy to do! There's lots more to learn about R and Relational Databases but you're well on your way. Feel free to connect with us if you have any questions.
<hr>

Copyright &copy; 2017 [Cognitive Class](https://cognitiveclass.ai/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/).