<a href="https://www.bigdatauniversity.com"><img src = "https://ibm.box.com/shared/static/n4369i3g2fkg38kendjtcbw6hzm4vel5.png" width = 100, align = "center"></a>
# <center>Lab 4a: Modifying Data using R</center>

Welcome to this Lab on modifying data using R.

<div class="alert alert-block alert-info" style="margin-top: 20px">
<h3>Tasks</h3>
<ol><ol><ol>
<li><a href="#refa">Pre-requisites</a></li>
<li><a href="#refb">Load the RODBC library</a></li>
<li><a href="#refc">Connect to your database</a></li>
<li><a href="#refd">Create a test table</a></li>
<li><a href="#refe">Create a dataframe</a></li>
<li><a href="#reff">Create a new dataframe</a></li>
<li><a href="#refg">Insert the dataframe into a NEW table</a></li>
<li><a href="#refh">Use sqlUdate() to enter new values</a></li>
<li><a href="#refi">Dis-connect</a></li>
</ol></ol></ol>
<br>
Estimated Time Needed: <strong>30 min</strong>
</div>

<a id="refa"></a>
<h3>a. Pre-requisites</h3>

In this lab we will use Jupyter Notebooks within CC Labs to modify data in a database using R.  Information about these services is provided in the lab setup.

<a id="refb"></a>
<h3>b. Load the RODBC library</h3>
<br>
Let's start by loading the <b>RODBC</b> library. Enter the code and execute it (Ctrl+Enter):

In [1]:
#load the RDBC library
library(RODBC)

<div align="left">
<a href="#tipb" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipb" class="collapse"><br>
  
```
# Fill in the ...
library(...)
```
  
</div>

<div align="left">
<a href="#solb" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solb" class="collapse"><br>
  
```
library(RODBC)
```
  
</div>

<a id="refc"></a>
<h3>c. Connect to your database</h3>
Enter the values for your database connection.

In [2]:
#Enter the values for your database connection
#Ensure you update the values for hostname, uid, and pwd

# The following is copied from Lab 2b
# dsn_driver = "com.ibm.db2.jcc.DB2Driver"    # NOTE: This line is from Lab2a and is not in the Db2 credentials info
dsn_driver <- "{IBM DB2 ODBC Driver}"         # NOTE: This appears to be an alternative way to specify the ODBC driver
dsn_database = "BLUDB"            # e.g. "BLUDB"      # all of the credentials info is under the section ("dsn":) near the bottom
dsn_hostname = "dashdb-entry-yp-dal10-01.services.dal.bluemix.net"   # e.g. replace <yourhostname> with your hostname, e.g., "Db2 Warehouse01.datascientstworkbench.com"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_uid = "dash100497"              # e.g. replace <userid> with your userid
dsn_pwd = "8_dKQbPO_j0o"            # e.g. replace <password> with your password

<div align="left">
<a href="#tipc1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipc1" class="collapse"><br>
  
```
# Fill in the ...
dsn_driver <- "{IBM ... ... Driver}"
dsn_database <- "..."            
dsn_hostname <- "YOUR.DASHDB.HOSTNAME" 
dsn_port <- "..."               
dsn_protocol <- "..."          
dsn_... <- "YOUR.USERNAME"        
dsn_... <- "YOUR.PASSWORD"      
```
  
</div>

<div align="left">
<a href="#solc1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solc1" class="collapse"><br>
  
```
#Enter the values for your database connection
#Ensure you update the values for hostname, uid, and pwd
dsn_driver <- "{IBM DB2 ODBC Driver}"
dsn_database <- "BLUDB"            # e.g. "BLUDB"
dsn_hostname <- "YOUR.DASHDB.HOSTNAME" # e.g.: "awh-yp-small03.services.dal.bluemix.net"
dsn_port <- "50000"                # e.g. "50000" 
dsn_protocol <- "TCPIP"            # i.e. "TCPIP"
dsn_uid <- "YOUR.USERNAME"         # e.g. "dash104434"
dsn_pwd <- "YOUR.PASSWORD"         # e.g. "7dBZ39xN6$o0JiX!m"
```
  
</div>

Create a connection string and connect to the database.

In [3]:
#Create a connection string and connect to the database
conn_path <- paste("DRIVER=",dsn_driver,
                  ";DATABASE=",dsn_database,
                  ";HOSTNAME=",dsn_hostname,
                  ";PORT=",dsn_port,
                  ";PROTOCOL=",dsn_protocol,
                  ";UID=",dsn_uid,
                  ";PWD=",dsn_pwd,sep="")
conn <- odbcDriverConnect(conn_path)
conn

RODBC Connection 1
Details:
  case=nochange
  DRIVER={IBM DB2 ODBC DRIVER}
  UID=dash100497
  PWD=******
  DATABASE=BLUDB
  HOSTNAME=dashdb-entry-yp-dal10-01.services.dal.bluemix.net
  PORT=50000
  PROTOCOL=TCPIP

<div align="left">
<a href="#tipc2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipc2" class="collapse"><br>
  
```
# Fill in the ...
#Create a connection string and connect to the database
conn_... <- paste("DRIVER=",...,
                  ";DATABASE=",...,
                  ";HOSTNAME=",...,
                  ";PORT=",...,
                  ";PROTOCOL=",...,
                  ";UID=",dsn_...,
                  ";PWD=",dsn_...,sep="")
conn <- ...DriverConnect(conn_...)
conn
```
  
</div>

<div align="left">
<a href="#solc2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solc2" class="collapse"><br>
  
```
#Create a connection string and connect to the database
conn_path <- paste("DRIVER=",dsn_driver,
                  ";DATABASE=",dsn_database,
                  ";HOSTNAME=",dsn_hostname,
                  ";PORT=",dsn_port,
                  ";PROTOCOL=",dsn_protocol,
                  ";UID=",dsn_uid,
                  ";PWD=",dsn_pwd,sep="")
conn <- odbcDriverConnect(conn_path)
conn
```
  
</div>

View the database and driver information.

In [4]:
#View database and driver information
sql.info <- sqlTypeInfo(conn)
conn.info <- odbcGetInfo(conn)
conn.info["DBMS_Name"]
conn.info["DBMS_Ver"]
conn.info["Driver_ODBC_Ver"]

       DBMS_Name
"DB2/LINUXX8664"

    DBMS_Ver
"11.01.0009"

Driver_ODBC_Ver
        "03.51"

<div align="left">
<a href="#tipc3" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipc3" class="collapse"><br>
  
```
# Fill in the ...
sql.... <- sql...(conn)
conn.... <- odbc...(conn)
conn....["..._Name"]
conn....["..._Ver"]
conn....["..._ODBC_..."]
```
  
</div>

<div align="left">
<a href="#solc3" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solc3" class="collapse"><br>
  
```
#View database and driver information
sql.info <- sqlTypeInfo(conn)
conn.info <- odbcGetInfo(conn)
conn.info["DBMS_Name"]
conn.info["DBMS_Ver"]
conn.info["Driver_ODBC_Ver"]
```
  
</div>

Now drop the table in case you have already created the table and are re-running this cell.

In [5]:
#Drop the table in case you have already created the table and are re-running this cell
# NOTE: If this is the fist time running this code, it should produce an error.
dropttab <- sqlDrop(conn, "TESTR")

ERROR: Error in odbcTableExists(channel, sqtable, abort = errors): ‘TESTR’: table not found on channel

<div align="left">
<a href="#tipc4" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipc4" class="collapse"><br>
  
```
# Fill in the ...
...ttab <- sql...(conn, "...")
```
  
</div>

<div align="left">
<a href="#solc4" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solc4" class="collapse"><br>
  
```
#Drop the table in case you have already created the table and are re-running this cell
dropttab <- sqlDrop(conn, "TESTR")
```
  
</div>

<a id="refd"></a>
<h3>d. Create a test table</h3>

In [6]:
#Create a test table
createtab <- sqlQuery(conn, "CREATE TABLE TESTR (ID INTEGER PRIMARY KEY NOT NULL, NAME CHAR(6))", errors=FALSE)

<div align="left">
<a href="#tipd1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipd1" class="collapse"><br>
  
```
# Fill in the ...
create... <- sql...(conn, "CREATE ... ... (ID ... PRIMARY ... NOT ..., NAME ...(6))", ...=FALSE)
```
  
</div>

<div align="left">
<a href="#sold1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="sold1" class="collapse"><br>
  
```
#Create a test table
createtab <- sqlQuery(conn, "CREATE TABLE TESTR (ID INTEGER PRIMARY KEY NOT NULL, NAME CHAR(6))", errors=FALSE)
```
  
</div>

Perform error checking to see if the table was created successfully.

In [7]:
#Perform error checking to see if the table was created successfully
if(createtab==-1){
      cat("An error has occurred:\n")
      err.msg <- odbcGetErrMsg(conn)
      for (error in err.msg) {
        cat(error,"\n")
      } 
      } else {
          cat ("Table created successfully.\n")
}

Table created successfully.

<div align="left">
<a href="#tipd2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipd2" class="collapse"><br>
  
```
# Fill in the ...
if(create...==...){
      ...("An ... has ...:\n")
      ....msg <- odbc...(conn)
      for (error in ....msg) {
        ...(error,"\n")
      } 
      } else {
          ... ("Table ... successfully.\n")
}
```
  
</div>

<div align="left">
<a href="#sold2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="sold2" class="collapse"><br>
  
```
#Perform error checking to see if the table was created successfully
if(createtab==-1){
      cat("An error has occurred:\n")
      err.msg <- odbcGetErrMsg(conn)
      for (error in err.msg) {
        cat(error,"\n")
      } 
      } else {
          cat ("Table created successfully.\n")
}
```
  
</div>

Get the column information for the newly created test table.

In [8]:
#Get column information for the newly created test table
testcol.detail <- sqlColumns(conn, "TESTR")
print(testcol.detail[c(4,6,7,18)], row.names=FALSE)

 COLUMN_NAME TYPE_NAME COLUMN_SIZE IS_NULLABLE
          ID   INTEGER          10          NO
        NAME      CHAR           6         YES

<div align="left">
<a href="#tipd3" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipd3" class="collapse"><br>
  
```
# Fill in the ...
test....detail <- sql...(conn, "...")
print(test....detail[c(...,...,7,...)], ....names=FALSE)
```
  
</div>

<div align="left">
<a href="#sold3" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="sold3" class="collapse"><br>
  
```
#Get column information for the newly created test table
testcol.detail <- sqlColumns(conn, "TESTR")
print(testcol.detail[c(4,6,7,18)], row.names=FALSE)
```
  
</div>

<a id="refe"></a>
<h3>e. Create a dataframe</h3>
<p>Create a dataframe with sample values.

In [9]:
#Create a dataframe with sample values
#view the contents of the dataframe
id <- c(1, 2, 3)
name <- c("BAT   ", "CAT   ", "DOG   ")
testrdf <- data.frame(id, name)
#view the contents of the dataframe
testrdf

  id name
1 1  BAT
2 2  CAT
3 3  DOG

<div align="left">
<a href="#tipe1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipe1" class="collapse"><br>
  
```
# Fill in the ...
id <- c(1, 2, 3)
name <- c("...", "...", "...")
test... <- ....frame(..., name)
test...
```
  
</div>

<div align="left">
<a href="#sole1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="sole1" class="collapse"><br>
  
```
#Create a dataframe with sample values
id <- c(1, 2, 3)
name <- c("BAT   ", "CAT   ", "DOG   ")
testrdf <- data.frame(id, name)
#view the contents of the dataframe
testrdf
```
  
</div>

Save the contents of the test dataframe into the test table.

In [10]:
#save the contents of the test dataframe into the test table
sqlSave(conn, testrdf, "TESTR", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE)

<div align="left">
<a href="#tipe2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipe2" class="collapse"><br>
  
```
# Fill in the ...
sql...(conn, test..., "...", ...=TRUE, fast=..., ...names=FALSE, ...names=FALSE)
```
  
</div>

<div align="left">
<a href="#sole2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="sole2" class="collapse"><br>
  
```
#save the contents of the test dataframe into the test table
sqlSave(conn, testrdf, "TESTR", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE)
```
  
</div>

Check that the contents were saved in the database by fetching the contents of the table.

In [11]:
#check the contents were saved in the database by fetching the contents of the table
testrdb <- sqlFetch(conn, "TESTR", stringsAsFactors=FALSE)
testrdb

  ID NAME
1 1  BAT
2 2  CAT
3 3  DOG

<div align="left">
<a href="#tipe3" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipe3" class="collapse"><br>
  
```
# Fill in the ...
test... <- sql...(conn, "...", strings...=FALSE)
test...
```
  
</div>

<div align="left">
<a href="#sole3" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="sole3" class="collapse"><br>
  
```
#check the contents were saved in the database by fetching the contents of the table
testrdb <- sqlFetch(conn, "TESTR", stringsAsFactors=FALSE)
testrdb
```
  
</div>

Find the ID of the last row in the table and increment it.

In [12]:
#find the ID of last row in the table and increment it
newID <- nrow(testrdb) + 1
newID

[1] 4

<div align="left">
<a href="#tipe4" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipe4" class="collapse"><br>
  
```
# Fill in the ...
new... <- n...(test...) + ...
new...
```
  
</div>

<div align="left">
<a href="#sole4" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="sole4" class="collapse"><br>
  
```
#find the ID of last row in the table and increment it
newID <- nrow(testrdb) + 1
newID
```
  
</div>

<a id="reff"></a>
<h3>f. Create a new dataframe</h3>
<p>Create a dataframe for the new row with the incremented ID.</p>

In [13]:
#Create a dataframe for the new row with the incremented ID
newrow <- data.frame("ID"=newID, "NAME"="FOG   ")
newrow

  ID NAME
1 4  FOG

<div align="left">
<a href="#tipf1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipf1" class="collapse"><br>
  
```
# Fill in the ...
new... <- data....("ID"=...ID, "..."="FOG   ")
new...
```
  
</div>

<div align="left">
<a href="#solf1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solf1" class="collapse"><br>
  
```
#Create a dataframe for the new row with the incremented ID
newrow <- data.frame("ID"=newID, "NAME"="FOG   ")
newrow
```
  
</div>

Now let's insert the new row in the table; note that append is TRUE.

In [14]:
#Now let's insert the new row in the table
#Note below append=TRUE
sqlSave(conn, newrow, "TESTR", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE)

<div align="left">
<a href="#tipf2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipf2" class="collapse"><br>
  
```
# Fill in the ...
sql...(conn, new..., "...", ...=TRUE, fast=..., row...=FALSE, ...names=FALSE)
```
  
</div>

<div align="left">
<a href="#solf2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solf2" class="collapse"><br>
  
```
#Now let's insert the new row in the table
#Note below append=TRUE
sqlSave(conn, newrow, "TESTR", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE)
```
  
</div>

Let's retrieve the table contents and see if the new row was added.

In [15]:
#Lets retrieve the table contents and see if the new row was added
testrdbnew <- sqlFetch(conn, "TESTR", stringsAsFactors=FALSE)
testrdbnew

  ID NAME
1 1  BAT
2 2  CAT
3 3  DOG
4 4  FOG

<div align="left">
<a href="#tipf3" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipf3" class="collapse"><br>
  
```
# Fill in the ...
#Lets retrieve the table contents and see if the new row was added
test... <- sql...(conn, "...", strings...=FALSE)
test...
```
  
</div>

<div align="left">
<a href="#solf3" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solf3" class="collapse"><br>
  
```
#Lets retrieve the table contents and see if the new row was added
testrdbnew <- sqlFetch(conn, "TESTR", stringsAsFactors=FALSE)
testrdbnew
```
  
</div>

Let's add a few more rows to the database; first create a dataframe with a couple more rows.

In [16]:
#Lets add a few more rows to the database
#First create a dataframe with couple more rows
ID <- c(5,6)
NAME <- c("JOG   ", "LOG   ")
newrows <- data.frame(ID, NAME)
newrows

  ID NAME
1 5  JOG
2 6  LOG

<div align="left">
<a href="#tipf4" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipf4" class="collapse"><br>
  
```
# Fill in the ...
ID <- c(...,...)
NAME <- c("...   ", "...   ")
new... <- data....(..., NAME)
new...
```
  
</div>

<div align="left">
<a href="#solf4" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solf4" class="collapse"><br>
  
```
#Lets add a few more rows to the database
#First create a dataframe with couple more rows
ID <- c(5,6)
NAME <- c("JOG   ", "LOG   ")
newrows <- data.frame(ID, NAME)
newrows
```
  
</div>

Add these new rows to the dataframe we retrieved from the database.

In [17]:
#Add these new rows to the dataframe we retrieved from the database
testrdbnewrows <- rbind(testrdbnew,newrows)
testrdbnewrows

  ID NAME
1 1  BAT
2 2  CAT
3 3  DOG
4 4  FOG
5 5  JOG
6 6  LOG

<div align="left">
<a href="#tipf5" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipf5" class="collapse"><br>
  
```
# Fill in the ...
test...rows <- r...(test...,...rows)
test...rows
```
  
</div>

<div align="left">
<a href="#solf5" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solf5" class="collapse"><br>
  
```
#Add these new rows to the dataframe we retrieved from the database
testrdbnewrows <- rbind(testrdbnew,newrows)
testrdbnewrows
```
  
</div>

<a id="refg"></a>
<h3>g. Insert the dataframe into a NEW table</h3>
<p>Now let's insert the dataframe with new rows into a NEW table in the database. Because TESTR2 does not exist it will be created.</p>

In [20]:
#Now let's insert the dataframe with new rows into a NEW table in the database
# dropttab <- sqlDrop(conn, "TESTR2")  #Ensure the table does not exist
#Because TESTR2 does not exist it will be created
sqlSave(conn, testrdbnewrows, "TESTR2", fast=FALSE, rownames=FALSE, colnames=FALSE)

<div align="left">
<a href="#tipg1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipg1" class="collapse"><br>
  
```
# Fill in the ...
drop... <- sql...(conn, "...")  
sql...(conn, test..., "...", fast=..., row...=FALSE, col...=FALSE)
```
  
</div>

<div align="left">
<a href="#solg1" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solg1" class="collapse"><br>
  
```
#Now let's insert the dataframe with new rows into a NEW table in the database
dropttab <- sqlDrop(conn, "TESTR2")  #Ensure the table does not exist
#Because TESTR2 does not exist it will be created
sqlSave(conn, testrdbnewrows, "TESTR2", fast=FALSE, rownames=FALSE, colnames=FALSE)
```
  
</div>

Let's fetch the contents of the new table to see if the contents of the new table match those of the test database new rows we inserted earlier.

In [21]:
#let's fetch the contents of the new table
testrdb2 <- sqlFetch(conn, "TESTR2", stringsAsFactors=FALSE)
#See if the contents o fthe new table match those of testdbnewrows we inserted
testrdb2

  ID NAME
1 1  BAT
2 2  CAT
3 3  DOG
4 4  FOG
5 5  JOG
6 6  LOG

<div align="left">
<a href="#tipg2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipg2" class="collapse"><br>
  
```
# Fill in the ...
test... <- sql...(conn, "...", strings...=FALSE)
test...
```
  
</div>

<div align="left">
<a href="#solg2" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solg2" class="collapse"><br>
  
```
#let's fetch the contents of the new table
testrdb2 <- sqlFetch(conn, "TESTR2", stringsAsFactors=FALSE)
#See if the contents o fthe new table match those of testdbnewrows we inserted
testrdb2
```
  
</div>

Now let's update some data; set a new value for the second column in the sixth row.

In [23]:
#Now lets update some data
#Set a new value for the second column in sixth row
testrdb2[6,2] <- "MEG   " 
testrdb2[6,]     # prints out the 6th row so we can see if this worked

  ID NAME
6 6  MEG

<div align="left">
<a href="#tipg3" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipg3" class="collapse"><br>
  
```
# Fill in the ...
test...[6,...] <- "..." 
```
  
</div>

<div align="left">
<a href="#solg3" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solg3" class="collapse"><br>
  
```
testrdb2[6,2] <- "MEG   " 
```
  
</div>

<a id="refh"></a>
<h3>h. Use sqlUdate() to enter new values</h3>
<p>Now use sqlUpdate() to enter the new value into the database; then fetch the contents of the updated table.</p>

In [24]:
sqlUpdate(conn, testrdb2,"TESTR2", index="ID")
#fetch the contents of the updated table
testrdb3 <- sqlFetch(conn, "TESTR2", stringsAsFactors=FALSE)
testrdb3

  ID NAME
1 1  BAT
2 2  CAT
3 3  DOG
4 4  FOG
5 5  JOG
6 6  MEG

<div align="left">
<a href="#tiph" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tiph" class="collapse"><br>
  
```
# Fill in the ...
sql...(conn, ...,"TEST...", ...="ID")
#fetch the contents of the updated table
test... <- sql...(conn, "TEST...", strings...=FALSE)
test...
```
  
</div>

<div align="left">
<a href="#solh" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="solh" class="collapse"><br>
  
```
sqlUpdate(conn, testrdb2,"TESTR2", index="ID")
#fetch the contents of the updated table
testrdb3 <- sqlFetch(conn, "TESTR2", stringsAsFactors=FALSE)
testrdb3
```
  
</div>

Note: Rather than use SQLUpdate, sometimes it may be more efficient to modify the data using the SQL UPDATE statement via sqlQuery()

<a id="refi"></a>
<h3>i. Close the connection</h3>

In [25]:
close(conn)

<div align="left">
<a href="#tipi" class="btn btn-default" data-toggle="collapse" >Click here to view/hide tip</a></div>
<div id="tipi" class="collapse"><br>
  
```
# Fill in the ...
...(...)
```
  
</div>

<div align="left">
<a href="#soli" class="btn btn-default" data-toggle="collapse" >Click here to view/hide solution</a></div>
<div id="soli" class="collapse"><br>
  
```
close(conn) 
```
  
</div>

<a id="refj"></a>
<h3>Summary</h3>

In this lab you learned how to modify data in a database using R.

This notebook is part of the free course on Cognitive Class called *Using R with Databases*. If you accessed this notebook outside the course, you can take this free self-paced course, online by going to: https://cognitiveclass.ai/courses/using-r-with-databases/

<hr>
<h3>Tell your friends that you're taking the Using R with Database course!</h3>

<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

<a href=https://twitter.com/intent/tweet?url=https%3A%2F%2Fgoo.gl%2Fb6kJAj&via=bigdatau&text=I%20can%20now%20program%20in%20R!%20I%20finished%20this%20R%20course%20on%20IBM%27s%20Big%20Data%20University!&hashtags=rstats%2Cdatascience&related=bigdatau>
<textarea name="textarea1" disabled="disabled" style="resize:none;border-color:#00aced;color:#808080;height:80px" cols=75>Just learnt how to modify data in databases using R from #jupyter notebooks Thanks @cognitiveclass</textarea></a>
<p></p><a class="twitter-share-button" data-size=large href=https://twitter.com/intent/tweet?url=https%3A%2F%2Fgoo.gl%2Fb6kJAj&via=bigdatau&text=I%20can%20now%20program%20in%20R!%20I%20finished%20this%20R%20course%20on%20IBM%27s%20Big%20Data%20University!&hashtags=rstats%2Cdatascience&related=bigdatau></a>

<a href=https://twitter.com/intent/tweet?text=Just+learnt+how+to+modify+data+in+databases+using+R+from+%23jupyter+notebooks+Thanks+%40BigDataU>Tweet Now!</a>

#### Thank you for completing this lab on modifying data using R.
<hr>

### About the Authors:  
Hi! It's [Rav Ahuja](https://ca.linkedin.com/in/rav-ahuja-8aa4562a) and [Agatha Colangelo](https://www.linkedin.com/in/agathacolangelo), the authors of this notebook. We hope you found this lab on modifying data using R easy to do! There's lots more to learn about R and Relational Databases but you're well on your way. Feel free to connect with us if you have any questions.
<hr>

Copyright &copy; 2017 [Cognitive Class](https://cognitiveclass.ai/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/).